
table(style='width:100%', border='1')
    thead
        tr
            th Score
            th Balls
            th Fours
            th Sixes
            th Opponent
            th Strike-rate
        
        each match in player
            
            
            tr
            each key,val in match
            
                
                    td=key
                

